---
---

<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">La Oranique</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>Abonnement</a></li>
        <li>
          <details>
            <summary>Shop</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><a>Vin</a></li>
              <li><a>Merch</a></li>
            </ul>
          </details>
        </li>
        <li><a>Om</a></li>

      </ul>
    </div>
  </div>